In [1]:
import pandas as pd

In [2]:
daily_aq = pd.read_csv(".\dailyAQ_APIdata.csv")

In [3]:
display(daily_aq)

,Unnamed: 0,date,average_daily_nitrogen_dioxide,max_daily_nitrogen_dioxide,min_daily_nitrogen_dioxide,max_time_nitrogen_dioxide,min_time_nitrogen_dioxide,average_daily_ozone,max_daily_ozone,min_daily_ozone,...,max_time_pm10,min_time_pm10,pm2_5_avgdRolls,pm10_avgdRolls,eaqi,nitrogen_dioxide_eaqi,ozone_eaqi,sulphur_dioxide_eaqi,pm2_5_eaqi,pm10_eaqi
0,0,2020-01-01,50.612500,69.3,35.9,19:00:00,07:00:00,5.458333,25.0,0.0,...,22:00:00,06:00:00,57.906944,65.789931,5,2,1,1,5,4
1,1,2020-01-02,56.670833,69.5,45.0,22:00:00,12:00:00,3.875000,16.0,0.0,...,00:00:00,06:00:00,45.204687,57.765972,4,2,1,1,4,4
2,2,2020-01-03,59.312500,80.0,42.5,20:00:00,07:00:00,1.958333,7.0,0.0,...,19:00:00,05:00:00,47.180903,58.237326,4,2,1,1,4,4
3,3,2020-01-04,49.558333,66.7,40.4,18:00:00,06:00:00,4.500000,15.0,0.0,...,00:00:00,23:00:00,41.885417,48.472917,4,2,1,1,4,3
4,4,2020-01-05,54.425000,83.8,38.5,21:00:00,03:00:00,8.791667,34.0,0.0,...,21:00:00,04:00:00,15.741493,19.141493,2,2,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,1456,2023-12-27,38.341667,49.3,25.9,20:00:00,13:00:00,3.583333,17.0,0.0,...,21:00:00,12:00:00,36.530903,42.035938,4,1,1,1,4,3
1457,1457,2023-12-28,38.650000,46.8,30.5,16:00:00,07:00:00,0.958333,4.0,0.0,...,02:00:00,15:00:00,38.868229,46.771701,4,1,1,1,4,3
1458,1458,2023-12-29,47.962500,56.5,38.9,21:00:00,06:00:00,0.833333,3.0,0.0,...,00:00:00,05:00:00,38.611979,44.421181,4,2,1,1,4,3
1459,1459,2023-12-30,39.741667,55.1,32.0,20:00:00,12:00:00,2.708333,13.0,0.0,...,23:00:00,17:00:00,43.038542,45.834028,4,1,1,1,4,3
1460,1460,2023-12-31,33.737500,42.6,26.4,00:00:00,18:00:00,2.791667,8.0,0.0,...,01:00:00,21:00:00,40.564236,45.294271,4,1,1,1,4,3

There is a new 'Unnamed: 0' column as pandas always creates an additional ID column...

In [6]:
daily_aq.drop(columns=['Unnamed: 0'], inplace=True)

In [8]:
display(daily_aq)

,date,average_daily_nitrogen_dioxide,max_daily_nitrogen_dioxide,min_daily_nitrogen_dioxide,max_time_nitrogen_dioxide,min_time_nitrogen_dioxide,average_daily_ozone,max_daily_ozone,min_daily_ozone,max_time_ozone,...,max_time_pm10,min_time_pm10,pm2_5_avgdRolls,pm10_avgdRolls,eaqi,nitrogen_dioxide_eaqi,ozone_eaqi,sulphur_dioxide_eaqi,pm2_5_eaqi,pm10_eaqi
0,2020-01-01,50.612500,69.3,35.9,19:00:00,07:00:00,5.458333,25.0,0.0,15:00:00,...,22:00:00,06:00:00,57.906944,65.789931,5,2,1,1,5,4
1,2020-01-02,56.670833,69.5,45.0,22:00:00,12:00:00,3.875000,16.0,0.0,14:00:00,...,00:00:00,06:00:00,45.204687,57.765972,4,2,1,1,4,4
2,2020-01-03,59.312500,80.0,42.5,20:00:00,07:00:00,1.958333,7.0,0.0,14:00:00,...,19:00:00,05:00:00,47.180903,58.237326,4,2,1,1,4,4
3,2020-01-04,49.558333,66.7,40.4,18:00:00,06:00:00,4.500000,15.0,0.0,15:00:00,...,00:00:00,23:00:00,41.885417,48.472917,4,2,1,1,4,3
4,2020-01-05,54.425000,83.8,38.5,21:00:00,03:00:00,8.791667,34.0,0.0,15:00:00,...,21:00:00,04:00:00,15.741493,19.141493,2,2,1,1,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2023-12-27,38.341667,49.3,25.9,20:00:00,13:00:00,3.583333,17.0,0.0,13:00:00,...,21:00:00,12:00:00,36.530903,42.035938,4,1,1,1,4,3
1457,2023-12-28,38.650000,46.8,30.5,16:00:00,07:00:00,0.958333,4.0,0.0,11:00:00,...,02:00:00,15:00:00,38.868229,46.771701,4,1,1,1,4,3
1458,2023-12-29,47.962500,56.5,38.9,21:00:00,06:00:00,0.833333,3.0,0.0,14:00:00,...,00:00:00,05:00:00,38.611979,44.421181,4,2,1,1,4,3
1459,2023-12-30,39.741667,55.1,32.0,20:00:00,12:00:00,2.708333,13.0,0.0,13:00:00,...,23:00:00,17:00:00,43.038542,45.834028,4,1,1,1,4,3
1460,2023-12-31,33.737500,42.6,26.4,00:00:00,18:00:00,2.791667,8.0,0.0,16:00:00,...,01:00:00,21:00:00,40.564236,45.294271,4,1,1,1,4,3

In [9]:
daily_aq.columns

Index(['date', 'average_daily_nitrogen_dioxide', 'max_daily_nitrogen_dioxide',
       'min_daily_nitrogen_dioxide', 'max_time_nitrogen_dioxide',
       'min_time_nitrogen_dioxide', 'average_daily_ozone', 'max_daily_ozone',
       'min_daily_ozone', 'max_time_ozone', 'min_time_ozone',
       'average_daily_sulphur_dioxide', 'max_daily_sulphur_dioxide',
       'min_daily_sulphur_dioxide', 'max_time_sulphur_dioxide',
       'min_time_sulphur_dioxide', 'average_daily_pm2_5', 'max_daily_pm2_5',
       'min_daily_pm2_5', 'max_time_pm2_5', 'min_time_pm2_5',
       'average_daily_pm10', 'max_daily_pm10', 'min_daily_pm10',
       'max_time_pm10', 'min_time_pm10', 'pm2_5_avgdRolls', 'pm10_avgdRolls',
       'eaqi', 'nitrogen_dioxide_eaqi', 'ozone_eaqi', 'sulphur_dioxide_eaqi',
       'pm2_5_eaqi', 'pm10_eaqi'],
      dtype='object')

In [10]:
#pollutants are still the same
pollutants = ['nitrogen_dioxide','ozone',"sulphur_dioxide",'pm2_5','pm10']

In [30]:
#Yet we have new aggregation columns (exclude eaqi and min/max_time from list for simplicity)
aggregations = ['average_daily_','min_daily_','max_daily_']

#### Let's re-assess data quality of our daily air quality dataset after aggregation

Reminder: we want our data to be accurate(at least syntactically), complete and consistent

#### Syntactic Accuracy

Logically if values didn't exceed reference domain aggregations shouldn't either, but just to be sure:

In [7]:
maxes = {
    'nitrogen_dioxide': 1000,
    'ozone': 800,
    'sulphur_dioxide': 1250,
    'pm2_5': 800,
    'pm10': 1200
}

In [36]:
def checkRangeOfReference_max_agg(pollutant,maximum,agg,data):
    print("For "+pollutant+" :")
    for agg in aggregations:
        col = agg+pollutant
        n = data[data[col] > maximum].shape[0]
        print(col+" :"+str(n))

In [37]:
for pollutant in pollutants:
    checkRangeOfReference_max_agg(pollutant,maxes[pollutant],aggregations,daily_aq)

For nitrogen_dioxide :
average_daily_nitrogen_dioxide :0
min_daily_nitrogen_dioxide :0
max_daily_nitrogen_dioxide :0
For ozone :
average_daily_ozone :0
min_daily_ozone :0
max_daily_ozone :0
For sulphur_dioxide :
average_daily_sulphur_dioxide :0
min_daily_sulphur_dioxide :0
max_daily_sulphur_dioxide :0
For pm2_5 :
average_daily_pm2_5 :0
min_daily_pm2_5 :0
max_daily_pm2_5 :0
For pm10 :
average_daily_pm10 :0
min_daily_pm10 :0
max_daily_pm10 :0

In [34]:
def checkRangeOfReference_min_agg(pollutant,minimum,agg,data):
    print("For "+pollutant+" :")
    for agg in aggregations:
        col = agg+pollutant
        n = data[data[col] < minimum].shape[0]
        print(col+" :"+str(n))

In [35]:
for pollutant in pollutants:
    checkRangeOfReference_min_agg(pollutant,0,aggregations,daily_aq)

For nitrogen_dioxide :
average_daily_nitrogen_dioxide :0
min_daily_nitrogen_dioxide :0
max_daily_nitrogen_dioxide :0
For ozone :
average_daily_ozone :0
min_daily_ozone :0
max_daily_ozone :0
For sulphur_dioxide :
average_daily_sulphur_dioxide :0
min_daily_sulphur_dioxide :0
max_daily_sulphur_dioxide :0
For pm2_5 :
average_daily_pm2_5 :0
min_daily_pm2_5 :0
max_daily_pm2_5 :0
For pm10 :
average_daily_pm10 :0
min_daily_pm10 :0
max_daily_pm10 :0

In [ ]:
import re

In [45]:
# Next let's make sure min/max_time columns are in a reasonable range (from 00 to 23)
def check_time_format(data,col,pollutant):
    # Define the regex pattern (values from 00 to 23, followed by :00:00)
    pattern = r"^(?:[01]\d|2[0-3]):00:00$"

    # Apply regex check to the column
    def validate_format(value):
        return bool(re.match(pattern, value))

    invalid = pd.DataFrame()
    invalid["is_valid"] = data[col+pollutant].apply(validate_format)
    display(invalid)

    # Get the entries that do not follow the format
    invalid_entries = invalid[~invalid["is_valid"]]

    # Print the number of invalid entries and their indices
    num_invalid = len(invalid_entries)
    print(f"Number of invalid entries for {col} in {pollutant}: {num_invalid}")

In [42]:
time_cols = ['min_time_','max_time_']

In [43]:
for pollutant in pollutants:
    for col in time_cols:
        check_time_format(daily_aq,col,pollutant)

Number of invalid entries for min_time_ in nitrogen_dioxide: 0
Number of invalid entries for max_time_ in nitrogen_dioxide: 0
Number of invalid entries for min_time_ in ozone: 0
Number of invalid entries for max_time_ in ozone: 0
Number of invalid entries for min_time_ in sulphur_dioxide: 0
Number of invalid entries for max_time_ in sulphur_dioxide: 0
Number of invalid entries for min_time_ in pm2_5: 0
Number of invalid entries for max_time_ in pm2_5: 0
Number of invalid entries for min_time_ in pm10: 0
Number of invalid entries for max_time_ in pm10: 0

Finally let's check the EAQI columns

In [44]:
daily_aq["eaqi"].unique()

array([5, 4, 2, 3, 1, 6], dtype=int64)

In [48]:
for pollutant in pollutants:
    print(daily_aq[pollutant+"_eaqi"].unique())

[2 1]
[1 2 3]
[1]
[5 4 2 3 1 6]
[4 3 1 2]

No values outside reference range(1-6)

#### Let's move on to completeness

In [50]:
# Any missing values?
daily_aq.isnull().sum().sum()

0

No missing values means we can overlook row/column/dataset completeness

Now we consider Object completeness wrt number of days to be represented

In [52]:
# How many days between 2020-01-01 and 2023-12-31 (included)?
from datetime import datetime
start_date = datetime(year=2020, month=1, day=1)
end_date = datetime(year=2023, month=12, day=31)
days = (end_date - start_date).days + 1
print(days)

1461

In [53]:
daily_aq.shape

(1461, 34)

Checks out, as a sanity check let's verify that no days appear twice

In [54]:
daily_aq["date"].nunique()

1461

#### Let's move on to consistency wrt date format

In [55]:
# Check regex for yyyy-mm-dd format
pattern = r"^(202[0-3])-(0[1-9]|1[0-2])-(0[1-9]|[12][0-9]|3[01])$"

matches = daily_aq["date"].apply(lambda x: bool(re.match(pattern, x)))

invalid_dates = daily_aq[~matches]

len(invalid_dates)

0

All done.